services:
  jaeger:
    image: jaegertracing/all-in-one:1.76.0
    ports:
      - "16686:16686" # Jaeger UI
      - "4318:4318"   # OTLP HTTP receiver
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
